.box{
    .icon{
        text-align: center;
        border: 1px solid black;
        font-size: -webkit-xxx-large;
        background-color: #FD9800;
        padding: 1rem;
        
    }
}
.letter{
    p{
        text-align: center;
        letter-spacing: 2px;
        color: gray;
    }
    h2{
        text-align: center;
        padding: 1rem 0;
    }
}